html {
 height: 100%;
 color: #EFE810;
 font-family: Calibri,  sans-serif;
}

body {background-color: #371e63 ;
 width: 0 auto;
 height: 100%;
}

header {color: #EFE810;
 text-align: center;
 padding: 0px;
 font-family: Calibri,  sans-serif;
 font-size: 24;
 display: block;
}
h2 {color: #EFE810;
 text-align: center;
 padding: 0px;
 font-family: Calibri,  sans-serif;
 font-size: 18;
 display: block;
}
p {color: #EFE810;
 text-align: center;
 padding: 0px;
 font-family: Calibri,  sans-serif;
 font-size: 14;
 display: block;
}
h3 {color: #EFE810;
 text-align: center;
 padding: 0px;
 font-family: Calibri,  sans-serif;
 font-size: 18;
 display: block;
}
.center{
text-align: center
}

nav ul {color: #E60073 ;
   text-align: center;
   padding: 0px;
   font-family: Calibri,  sans-serif;
   font-size: 18;
}

nav li a {color: #E60073 ;
   text-align: center;
   padding: 0px;
   font-family: Calibri,  sans-serif;
   font-size: 18;
}

a {
 color: ;
}

section {
 display: inline-block;
}

footer {
 background-color:;
 color:;
 clear: both;
 display: block;
}
